<div>
  <form [formGroup]="emissionsGroup">
    <div>
      <mat-form-field>
        <mat-label>Уголь(тонн)</mat-label>
        <input formControlName="tons" matInput />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Газ(тыс м3)</mat-label>
        <input formControlName="cubicMeters" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Дата</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button
        (click)="add()"
        [disabled]="emissionsGroup.invalid"
        mat-raised-button
        color="accent"
      >
        Отправить
      </button>
    </div>
  </form>
</div>

<div class="form">
  <div id="chart" class="apx">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [dataLabels]="chartOptions.dataLabels"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>

  <div id="main" style="width: 800px; height: 350px"></div>
</div>
